.presentation {
    position: absolute;
    top: 15vh;
    left: 3vw;
    color: #fff;
    margin-left: 40px;
    font-family: "Poppins", sans-serif;

    &__titel {
        width: 846px;
        border: 0;
        margin: 0;
        outline: 0;

        .titel--text {
            font-size: 80px;
            letter-spacing: normal;
            line-height: 1.2em;
        }
    }

    &__subtitel {
        width: 459px;

        .subtitl--text {
            font-size: 30px;
        }
    }

    &__btn {
        margin-top: 50px;
        .btn--text {
            background-color: #fd6262;
            color: #141416;
            transition: 0.3s ease-in-out;
            padding: 18px;
            border-radius: 5px;
            border: none;

            &:hover {
                background-color: #000;
                color: #fff;
                border: solid 1px #fff;
                border-radius: 5px;
            }
        }
    }
}
