body {
    background-color: #000;
    height: 3700px;
    margin: 0;
    padding: 0;
}

.App {
    margin: 0;
    padding: 0;
    z-index: 100000;
}

.content {
    height: 120vh;
    margin: 0;
    padding: 0;
}
